@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Task Manager</h1>
    <p>Keep track of your tasks by using Stephen Covey's Time Management Matrix!'</p>
</div>
<section class="help ">

    <div class="help-content">

        <h2>Stephen Covey's Time Management Matrix</h2>
        <div class="row noMargin">
            <div class="one quadpadding">
                Quadrant 1
                <p>Important and Urgent</p>

            </div>
            <div class="two quadpadding">
                Quadrant 2
                <p>Important and Not Urgent</p>
            </div>
        </div>
        <div class="row noMargin">
            <div class="three  quadpadding">
                Quadrant 3
                <p>Not Important and Urgent</p>
            </div>
            <div class="four  quadpadding">
                Quadrant 4
                <p>Not Important and Not Urgent</p>
            </div>
        </div>
    </div>

</section>
